{% extends "cmsplugin_job/cmsplugin_job_base.html" %}
{% load i18n %}

{% block left-col %}
{{ block.super }}

<h1>{% trans "Vacant jobs" %}</h1>

{% if object_list %}
   {% include "cmsplugin_job/job_list_include.html" %}
{% else %}
	<p>{% trans "No vacant jobs" %}</p>
{% endif %}

{% endblock %}

{% block right-col %}

{% endblock %}
