{% load i18n placeholder_tags cmsplugin_job_tags simple_translation_tags %}
{% for job in object_list|annotate_with_translations %}

    {% with job|get_preferred_translation_from_request:request as title %}
    {% with job.placeholders|choose_placeholder:"jobdescription" as jobdescription %}
    <p>{{ job.pub_date|date:"d b Y" }}<br/><a href="{{ title.get_absolute_url }}">{{ title }}</a>
       {{ job|render_language_choices:request|safe }}
    </p>
    {% render_placeholder jobdescription %}
    {% endwith %}
    {% endwith %}
{% endfor %}