{% extends "cmsplugin_job/cmsplugin_job_base.html" %}

{% load placeholder_tags cmsplugin_job_tags simple_translation_tags %}


{% block left-col %}
{{ block.super }}

<h1>{% with object|get_preferred_translation_from_request:request as title %}{{ title }}{% endwith %}</h1>

<p class="date"><span>{{ object.pub_date|date:"d F Y" }}</span></p>

{% with object.placeholders|choose_placeholder:"jobdescription" as jobdescription %}
    {% render_placeholder jobdescription %}
{% endwith %}

{% endblock %}

{% block right-col %}

{% endblock %}
