{% load i18n cmsplugin_job_tags simple_translation_tags cms_tags %}
<h2>Jobs</h2>
{% if object_list %}
   {% for job in object_list|annotate_with_translations %}
    {% with job|get_preferred_translation_from_request:request as title %}
    	<a href="{{ title.get_absolute_url }}">
    	<h4>{{ title }}</h4>
       	</a>
    {% endwith %}
{% endfor %}
{% else %}
	<p>{% trans "No jobs" %}</p>

{% endif %}
<a class="btn btn-success btn-small" href="{% page_url "jobs" %}">Bekijk al onze jobs</a>
